<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinFormsApp1.Properties.Settings>
            <setting name="háttérkép" serializeAs="String">
                <value>Kepek/bg@2x.png</value>
            </setting>
            <setting name="képKönyvtár" serializeAs="String">
                <value>Kepek/nagy/</value>
            </setting>
            <setting name="képUtólag" serializeAs="String">
                <value>@2x.png</value>
            </setting>
            <setting name="képMéret" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="képTávolság" serializeAs="String">
                <value>132</value>
            </setting>
        </WinFormsApp1.Properties.Settings>
    </userSettings>
</configuration>